In [1]:
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'),('ESP', 'XDA205856')]
for passport in sorted(traveler_ids): # 첫번째 field를 기준으로 정렬 된다.
  print('%s/%s' % passport)
  
for country, _ in traveler_ids: # 관심 없는 항목에는 더미변수를 나타내는 언더바(_)에 할당한다.
  print(country)

BRA/CE342567
ESP/XDA205856
USA/31195855
USA
BRA
ESP

## 튜플 언패킹

In [2]:
lax_coordinates = (33.9425, -118.408056)
latitude, longitude = lax_coordinates

print(latitude)
print(longitude)

33.9425
-118.408056

In [3]:
a=2
b=3
print(a,b)

b,a = a, b
print(a,b)

2 3
3 2

In [4]:
print(divmod(20, 8)) #divmod 두 수를 나누어 몫과 나머지로 배분

t = (20, 8)
print(divmod(*t))

quotient, remainder = divmod(*t)
print(quotient, remainder)

(2, 4)
(2, 4)
2 4

In [5]:
import os

path, filename = os.path.split('/home/luciano/.ssh/idrsa.pub')
print(path)
print(filename)

# 파일명만 가져오는 고전적인 방법

/home/luciano/.ssh
idrsa.pub

In [6]:
# 초과 항목을 잡기 위해 * 사용하기
a, b, *rest = range(5)
print(a, b, rest)

a, b, *rest = range(3)
print(a, b, rest)

a, b, *rest = range(2)
print(a, b, rest)

0 1 [2, 3, 4]
0 1 [2]
0 1 []

In [7]:
a, *body, c, d = range(5)
print(a, body, c, d)

*head, b, c, d = range(5)
print(head, b, c, d)

0 [1, 2] 3 4
[0, 1] 2 3 4

In [8]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833))
]

print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:^9.4f} | {:^9.4f}'

for name, cc, pop, (latitude, longitude) in metro_areas:
  if longitude <= 0:
    print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |  19.4333  | -99.1333
New York-Newark |  40.8086  | -74.0204
Sao Paulo       | -23.5478  | -46.6358

## 명명된 튜플

- collections.namedtuple() 함수는 필드명과 클래스명을 추가한 튜플의 서브클래슬르 생성하는 팩토리

In [9]:
from collections import namedtuple
City = namedtuple('City', 'name country population coordinates') # 필드명의 리스트는 반복형 문자열이나 공백으로 구분된 하나의 문자열을 이용해서 지정한다.
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
print(tokyo)

print(tokyo.population)
print(tokyo.coordinates)
print(tokyo[1])

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))
36.933
(35.689722, 139.691667)
JP

- 명명된 튜플은 상속받은 속성 외에 몇 가지 속성을 더 가지고 있다.

In [10]:
print(City._fields) # _fields는 클래스의 필드명을 담고 있는 튜플이다.

LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))

# _make()는 반복형 객체로부터 명명된 튜플을 만든다. City(*delhi_data)를 호출하는 코드와 동일한 역할을 수행한다.
delhi = City._make(delhi_data)

# _asdict()는 명명된 튜플 객체에서 만들어진 collections.OrderedDict객체를 반환한다.
print(delhi._asdict())

for key, value in delhi._asdict().items():
  print(key + ':', value)

('name', 'country', 'population', 'coordinates')
{'name': 'Delhi NCR', 'country': 'IN', 'population': 21.935, 'coordinates': LatLong(lat=28.613889, long=77.208889)}
name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)